[*.cs]

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = warning

# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider declaring as nullable.
dotnet_diagnostic.CS8618.severity = suggestion

# IDE0060: Remove unused parameter
dotnet_code_quality_unused_parameters = non_public

# Default severity for analyzer diagnostics with category 'CodeQuality'
dotnet_analyzer_diagnostic.category-CodeQuality.severity = suggestion

# CS8603: Possible null reference return.
dotnet_diagnostic.CS8603.severity = suggestion

# Default severity for analyzer diagnostics with category 'Naming'
dotnet_analyzer_diagnostic.category-Naming.severity = suggestion

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = suggestion

# IDE0001: Simplify Names
dotnet_diagnostic.IDE0001.severity = suggestion

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = suggestion

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = suggestion

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = suggestion
